<!--
    Title: tasks.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 01/17/2023
    Description:  Navigation  for the Nodebucket.
-->

<div class="container-whole pb-5  text-white" style="min-height: 700px;">
  <div class="toDo-card primary justify-content-center pt-5 mt-5">
    <h1 class="text-align">My Tasks</h1>
  <!-- Display error and success messages -->
  <div class="justify-content-center pt-4">
    <div class="col-sml-10 col-mid-8 col-lg-6>">
      <div class="col-sm-6 text-align" style="margin: auto;">
        <div class="justify-content-center" ngClass="alert alert-info" *ngIf="errorMessage" role="alert">
          {{ errorMessage }}
        </div>
      </div>

      <div class="col-sm-6 text-align" style="margin: auto;">
        <div class="justify-content-center" class=" alert alert-success" *ngIf="successMessage" role="alert">
          {{ successMessage }}
        </div>
      </div>
    </div>
  </div>
  <!-- Input field to add a new task -->
  <div class=" row justify-content-center pt-4">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <form [formGroup]="newTaskForm"  (ngSubmit)="addTask();">
      <div class="input-group mb-3">
        <input type="text" class="form-control" formControlName="text" placeholder="Add new task">
        <button type="submit" class="btn text-white btn-lg" style="background-color: #a18a2e; font-weight: 500;" [disabled]="!newTaskForm.controls['text'].valid" id="btnAdd">  Add Task  </button>
      </div>

      <!-- validation required field -->
      <div *ngIf="newTaskForm.controls['text'].touched && newTaskForm.controls['text'].hasError('required')">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Please enter a task!</strong>
          <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <!-- validation minimum field -->
      <div *ngIf="newTaskForm.controls['text'].touched && newTaskForm.controls['text'].hasError('minlength')">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>The task field must be at least 3 characters long!</strong>
          <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

       <!-- validation maximum field -->
       <div *ngIf="newTaskForm.controls['text'].touched && newTaskForm.controls['text'].hasError('maxlength')">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>The task field cannot be more than 50 characters!</strong>
          <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <!-- Category validation required field -->
      <div *ngIf="newTaskForm.controls['text'].touched && newTaskForm.controls['category'].hasError('required')">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Please select a category!</strong>
          <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>

      <!--Radio buttons to select categories-->
      <div class="category-bar text-align">
        <!-- Meetings category -->
        <div class="form-check form-check-inline radioBtn ">
          <input type="radio" class="form-check-input" formControlName="category" name="category" id="meetingRadiobtn" value="meetings">
          <label for="meetingRadiobtn" class="form-check-label" style="color: green;">Meetings</label>
         </div>

          <!-- Projects category -->
        <div class="form-check form-check-inline radioBtn">
          <input type="radio" class="form-check-input" formControlName="category" name="category" id="projectsRadiobtn" value="projects">
          <label for="projectsRadiobtn" class="form-check-label" style="color:rgb(13, 199, 255)">Projects</label>
         </div>

          <!-- Tests category -->
        <div class="form-check form-check-inline radioBtn">
          <input type="radio" class="form-check-input" formControlName="category" name="category" id="testsRadiobtn" value="tests">
          <label for="testsRadiobtn" class="form-check-label" style="color: red;">Tests</label>
         </div>

          <!-- Miscellaneous category -->
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" formControlName="category" name="category" id="misclnsRadiobtn" value="miscellaneous">
          <label for="misclnsRadiobtn" class="form-check-label" style="color: yellow;">Miscellaneous</label>
         </div>
      </div>
    </form>
    </div>
  </div>
 <!-- Todo and don container -->
  <div class="row gy-2 justify-content-center">

    <!-- Todo column -->
    <div class="col-sm-6 col-md-8 col-lg-4 list-gap">
      <h4 class="text-align">ToDo</h4>
      <div class="p-3">
        <!-- enable cdkDrop to allow users to move tasks within the todo list and to the done list  -->
        <div class="container"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        (cdkDropListDropped)="drop($event)">
        <!-- If nothing in todo list display no tasks yet -->
          <div *ngIf="todo.length === 0">
            <div class="alert alert" style="background-color: #a18a2e;">
              <p>No tasks to do yet!</p>
            </div>
          </div>
          <div *ngFor="let item of todo" cdkDrag class="mt-1">

            <!-- task should display with background color associated with the selected category -->
            <div class="row task-box mb-3" *ngIf="item.category.categoryColor != 'miscellaneous'" [ngStyle]="{'background-color': item.category.categoryColor}" title="{{item.category.categoryTitle}}">
              <!-- column 1 task item -->
             <div class="col-sm-6 mt-2" >
               <div class="card-body">
                  {{ item.text }}
               </div>
             </div>
              <!-- End column 1 -->

              <!-- column 2 delete task -->
              <div class="col-sm-6">
                <div class=" float-end">
                  <!-- ensure that value passed for deleteTask is a string -->
                  <button class="btn text-white" (click)="deleteTask(item._id ?? '')">
                    <i class="bi bi-trash" style="font-size: 26px;"></i>
                  </button>
                </div>
              </div>
              <!-- delete task icon For smaller screen sizes-->
              <div class="col-12 d-sm-none d-md-none d-lg-none d-xl-none d-grid gap-2 p-2">
                <button (click)="deleteTask(item._id ?? '')">
                  Delete
                </button>
              </div>

              <!--End column 2-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End ToDo column -->

    <!-- Done column -->
    <div class="col-sm-6 col-md-8 col-lg-4 list-gap">
      <h4 class="text-align">Done</h4>
      <div class="p-3">
        <!-- enable cdkDrop to allow users to move tasks within the done in list and to the todo list  -->
        <div class="container"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        (cdkDropListDropped)="drop($event)">

        <!-- If nothing in todo list display no tasks yet -->
          <div *ngIf="done.length === 0">
            <div class="alert alert" style="background-color: #a18a2e;">
              <p>No tasks to do yet!</p>
            </div>
          </div>
          <div *ngFor="let item of done" cdkDrag class="mt-2">
            <!-- task should display with background color associated with the selected category -->
            <div class="row task-box mb-3" *ngIf="item.category.categoryColor != 'miscellaneous'" [ngStyle]="{'background-color': item.category.categoryColor}" title="{{item.category.categoryTitle}}">
              <!-- column 1 task item -->
             <div class="col-sm-6 mt-2" >
               <div class="card-body">
                  {{ item.text }}
               </div>
             </div>
              <!-- End column 1 -->

              <!-- column 2 delete task icon -->
              <div class="col-sm-6">
                <div class=" float-end">
                  <button class="btn text-white" (click)="deleteTask(item._id ?? '')">
                    <i class="bi bi-trash" style="font-size: 26px;"></i>
                  </button>
                </div>
              </div>
              <!--Delete task icon for smaller screen sizes-->
              <div class="col-12 d-sm-none d-md-none d-lg-none d-xl-none d-grid gap-2 p-2">
                <button (click)="deleteTask(item._id ?? '')">
                  Delete
                </button>
              </div>
              <!--End column 2-->
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- End Done column -->

  </div>
  </div>
</div>
