<!--
    Title: about.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 01/29/2023
    Description: About page for Nodebucket
    Resources: To assist with attribution styling for images I used codepen: https://codepen.io/Founts/pen/ONavpz
-->

<div class="container-fluid container-about">
  <div class="card">
    <h1 class="text-align" style="font-size: 60px; font-weight: 600;">About us</h1>
    <!-- About text -->
    <div class="pt-3">
      <p class="text-align mb-5" style="padding: 0 40px; font-size: 20px;"> Welcome to Nodebucket! If you are here, we are confident that you are in the market for a task manager that is both reliable and user-friendly. Well, you’ve come to the right place. Developed through the collaborative efforts of our leading developers, we are dedicated to delivering you a quality tool to organize and manage important tasks without the headache.  We want to help you optimize productivity, set project goals, and keep track of progress.</p>

      <!-- Testimonial card -->
      <div class="card testimonial justify-content-center mb-5">
          <div class="testimonial-text">
            <p><em>Nodebucket has been such a life-saver! It has really helped to simply the process. As a manager, I have been able to easily break down projects in to manageable chunks for my team and effectively delegate tasks. Viewing tasks help me to see the whole project iin perspective and track everyone's progress.</em></p>
            <p class="float-end"> -Jane Pettit, Project Manager at TechNo</p>
          </div>
          <div class="justify-content-end float-end">
            <a href="https://unsplash.com/photos/grayscale-photo-of-hippie-eyeglasses-on-cloth-sMs2M-yiqCY" target="_blank" class="img-attribution">Larm Rmah </a>
          </div>
      </div>
    </div>

    <hr />

  <!-- Features container-->
   <div class="features mt-5 mb-5">
      <div class="d-flex pb-3">
        <i class="bi bi-card-checklist"></i>
        <div>
          <h4>Task Manager</h4>
          <p>Our task manager allows users to create and categorize tasks to help you stay organized. Gain perspective and stay on top of your requirements by view all tasks in your to-do list. Our simple drag-and-drop feature also allows you move completed tasks to the done list so that you can keep track of your progress and stay on task. </p>
        </div>
      </div>
      <div class="d-flex pb-3">
        <i class="bi bi-shield-check"></i>
        <div>
          <h4>Security</h4>
          <p>Work confidently knowing that your information is secure. Our login features protect non-authorized users from accessing your tasks, ensuring that your data remains confidential.</p>
        </div>
      </div>
      <div class="d-flex pb-3">
        <i class="bi bi-phone"></i>
        <div>
          <h4>Mobile Friendly</h4>
          <p>Access Nodebucket anywhere. Our website is fully interactive whether you are viewing tasks from the office computer or on a mobile device on the go! Never miss a beat.</p>
        </div>
      </div>
   </div>
   <!-- End Features container-->

   <hr />

    <!-- Team members container-->
    <div class="team-container" >

      <div class="justify-content-center mt-5 pb-5 d-flex">
        <img src="../assets/bird-icon.png" class="img-fluid" style="height: 50px; padding-right: 15px;">
        <h2 class="text-align" style="font-size: 40px; font-weight: 600;"> Meet our Team</h2>
        <img src="../assets/bird-icon.png" class="img-fluid" style="height: 50px; padding-left: 15px;">

      </div>
      <div class="row pb-5">
        <div class="col col-md-5 mx-lg-4 img-container">
          <img class="about-images img-fluid" src="./assets/Sean-about.jpg">
          <a href="https://unsplash.com/photos/man-in-black-crew-neck-shirt-uyaTT9u6AvI" target="blank" class="img-attribution d-grid">Vicky Hladynets</a>
        </div>
        <div class="d-flex col col-md-6">
          <div class="d-block about-text">
            <h4>Sean Hawkins</h4>
            <p>Sean has been a part of the Nodebucket team for 4 years as a lead developer. He has been an integral part of bringing our vision to life, wearing many hats as a full-stack developer. Having spent several years in the industry prior to joining our team, Sean has been able to hone his skills in both front-end and back-end operations. He feels that his time and experience has awarded him a greater perspective and a more well-rounded understanding of design, development, and operations processes that have allowed him to grow as a web developer.  He believes in flexibility and continued growth and is dedicated to continually improving himself and his team members to work towards creating better designs that meet customer needs.</p>
          </div>
        </div>
      </div>

      <div class="row pb-5">
        <div class="col col-md-5 mx-lg-4 img-container">
          <img class="about-images img-fluid" src="./assets/Ashley-about.jpg">
          <a href="https://unsplash.com/photos/grayscale-photo-of-woman-wearing-coat-and-eyeglasses-hpZ6NCRLe1A" target="_blank" class="img-attribution d-grid">Alimarel</a>
        </div>
        <div class="d-flex col col-md-6">
          <div class="d-block about-text">
            <h4>Ashley Paz</h4>
            <p>Ashley is part of our Nodebucket’s quality assurance team. At Nodebucket we strive for excellence, and Laura is not exception.  She works hard as one of our greatest detectives, specializing as our top bug finder She works diligently to find and fix bugs before they get released so that we can ensure that everything is in tip top shape and working wonderfully. She has been on our team for 5 years and we are grateful for all the work she has contributed to helping us deliver quality products to our customers.</p>        </div>
        </div>
      </div>

      <div class="row pb-5">
        <div class="col col-md-5 mx-lg-4 img-container">
          <img class="about-images img-fluid" src="./assets/Vivian-about.jpg">
          <a href="https://unsplash.com/photos/grayscale-photo-of-woman-wearing-necklace-and-top-0fN7Fxv1eWA" target="_blank" class="img-attribution d-grid">Rachel McDermott</a>
        </div>
        <div class="d-flex col col-md-6">
          <div class="d-block about-text">
            <h4>Vivian James</h4>
            <p> Vivian is Nodebucket’s marketing manager. She oversees our marking activities and coordinates marking campaigns, including social media platforms. With 10 years of experience in this industry she has gained valuable experience and wealth of knowledge that has helped her understand customer needs. She has worked on several successful ad campaigns that have made a lasting impact on our customers. She also understands the need for usability and accessibility go hand-in-hand and to deliver quality and user-friendly and has helped to instill forward thinking in all of our team members.  Through her hard work and dedication, Nodebucket has been able to reach a variety of customers and continues to expand.</p>        </div>
        </div>
      </div>
    </div>
    <!--End Team members container-->

  </div>
</div>