
/**
    Title: not-found.component.css
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 01/15/24
    Description: CSS styling for footer NodeBucket
*/

.container-not-found {
  background-color: rgb(42, 54, 113);
  margin: 10px;
  height: 100%;
}
.card {
  border: none;
  margin: auto;
}

@media (max-width: 500px) {
  .container-not-found {
    padding-bottom: 100px;
  }
 }