<!--
    Title: not-found.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 09/12/2023
    Description: 404 Error Page for Nodebucket
-->

<div class="container-not-found">

  <!-- Card to display image for 404 Error  -->

  <div class="card bg-transparent pt-5 pb-5">
    <div class="card-title text-align">
      <img class="img-fluid" src="./assets/error-404.png" style="width: 600px;" />
    </div>
    <br />
    <div class="card-content text-align" >

      <button  class="btn text-white btn-lg" style="background-color: #a18a2e; font-weight: 500;" routerLink="/">Return home</button>

    </div>
  </div>

</div>