<!--
    Title: contact.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 01/23/2024
    Description: Contact Page for Nodebucket created with Angular.
    Resources: Map embedding code was taken from google maps https://www.google.com/maps/place/Bellevue+University/@41.150572,-95.9207329,17z/data=!3m1!4b1!4m6!3m5!1s0x8793886a86ca807f:0x838e857240d175eb!8m2!3d41.150572!4d-95.918158!16zL20vMDVkZ3Nn?entry=ttu
-->
<div class="container-fluid mt-5" >
  <div class=" mt-3 card">
    <h1 class="text-align">Contact Us</h1>
    <div class="card-content row d-flex mt-4">
      <div class="col-sm-4 d-grid justify-content-center ">
        <div class="text-align">
          <div class="contact-icons">
              <i class="bi bi-telephone"></i>
          </div>

          <div class="text-align">
              <p>
                toll-free: 1.800.756.7920
              </p>
          </div>
        </div>
        <div class="text-align">
          <div class="contact-icons">
              <i class="bi bi-envelope"></i>
          </div>

          <div class="text-align">
              <p>
                nodebucket_support@bellevue.edu
              </p>
          </div>
        </div>
        <div class="text-align">
          <div class="contact-icons">
            <i class="bi bi-geo-alt"></i>
          </div>

          <div class="text-align">
              <p>
                  100 Galvin Rd S
              </p>
              <p>
                  Bellevue, Nebraska 68005
              </p>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-around" style="margin: auto;">
        <div class="">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.264842774506!2d-95.92073292360382!3d41.15057197133092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793886a86ca807f%3A0x838e857240d175eb!2sBellevue%20University!5e0!3m2!1sen!2sus!4v1706044772817!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
      </div>
    </div>
  </div>
</div>