/**
    Title: contact.component.css
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 01/23/24
    Description: CSS styling for contact page for NodeBucket
*/

.card {
  background-color: #062b6f;
  color: white;
  margin: 8%;
  padding: 20px;
}

.card-content {
  padding: 30px;
}

.contact-icons {
  font-size: 40px;
}

h4 {
  margin: 10px 50px;
  text-align: center;
  font-size: 20px;
}