<!--
    Title: footer.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 01/19/2023
    Description: Footer for Nodebucket
-->

<footer class="footer d-flex justify-content-center text-white">
 <!-- Social media logo icons -->
  <div>
    <div class="row">
      <div class="col-6">
        <a href="https://facebook.com/"><img class="footer-logo" src="./assets/facebook-logo.png" alt="facebook logo" target="_blank"></a>
      </div>
      <div class="col-6">
        <a href="https://twitter.com/?lang=en"  target="_blank"> <img class="footer-logo" src="./assets/twitter-logo.png" alt=" new twitter logo"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="text-align" style="padding-bottom: 10px; font-size: 12px;"><b>&copy; 2024 Copyright</b></div>
     </div>
      </div>
 </div>
</footer>