/**
    Title: styles.css
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 01/15/23
    Description: CSS styling for NodeBucket
*/

/* You can add global styles to this file, and also import other style files */
main {
  background-color: #b7b6b6;
}


/* Center align any text */
.text-align {
  text-align: center;
}

p, h2 , h1, li {
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-weight: 600;
}

/* homepage styling */

.home-images {
  width: 350px;
  margin-bottom: 20px;
  border: #062b6f dotted 3px;
}

/* space out content on homepage */
.home-spacing {
  padding: 5px;
}
.home-spacing a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.home-spacing p {
  padding-left: 20px;
  padding-right: 20px;
}
.home-spacing h2:hover {
  background-color: #062b6f;
  text-decoration: underline;
  color: rgb(227, 210, 113);
  border-radius: 5px;
}

/* styling for footer */
.footer {
  border-top: rgb(185, 169, 77) 8px solid;
  background-color: #062b6f;
  margin: auto;
}

nav {
  border-bottom: rgb(185, 169, 77) 8px solid;
  margin-bottom: 10px;
}

.footer-logo {
  width: 60px;
  padding: 10px;
}

/* Nav-bar styling */

.nav-item {
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 18px;
}


.nav-item:hover, .return-btn:hover {
  background-color: rgb(185, 169, 77);
  color: #062b6f;
}

/* Form styling */

.container {
  margin: 10%;
}

form {
  padding: 0 10%  10%  10%;
}


.form-label {
  color: white;
  font-weight: 400;
}

.return-btn {
  font-weight: 500;
}


/* Colors */
.primary {
  background-color: #053287;
}

.accent {
  background-color: rgb(185, 169, 77);
}