<!--
    Title: home.component.html
    Author: Professor Richard Krasso
    Modified by: Hannah Del Real
    Date: 01/15/2023
    Description:  Home Page  for Nodebucket.
-->

<div class="container-fluid">
  <div class="row">
    <h1 class=" home-title text-align">Welcome to the NodeBucket App!</h1>
    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-sm-3 home-spacing text-align">
        <img src="./assets/task-logo.jpg" alt="checklist next to raven cartoon" class="home-images">

        <!--Link to sign-in page-->
        <a routerLink="security/sign-in"><h2>Sign-in</h2></a>
        <p>Sign-in to access our task manager. Effortlessly manage and organize tasks the way you want with our flexible task manager. Prioritizing tasks and keeping project on track are just one click away.</p>
      </div>

      <div class="col-sm-3 home-spacing text-align">
        <img src="./assets/about-logo.jpg"  alt="group of three cartoon ravens" class="home-images column-gap-3">

        <!--Link to about page-->
       <div><a routerLink="/about" class="home-links"><h2>About Us</h2></a></div>
        <p>Learn more about us and our services. Don't just hear it from us, check out what  our satisfied customers have to say. Let us show you why we are right for you!</p>
      </div>

      <div class="col-sm-3 home-spacing text-align">
        <!--Link to contact page-->
        <img src="./assets/contact-logo.jpg" alt="cartoon address notebook" class="home-images">
        <a routerLink="/contact"><h2>Contact Us</h2></a>
        <p>Have any questions. Check out our contact page and find the best way to get in touch.</p>
      </div>
    </div>
  </div>



